.login-page-background {
    background-image: url("../../assets/background.svg");
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.login-page-container {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 20px;
    box-sizing: border-box; 
    background-color: var(--white-col);
}

.login-logo-style {
    position: absolute;
    top: 100px;
}