.submit-button-style {
	padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: none;
    font-family: var(--main-font);
    font-size: 15px;
    color: var(--white-col);
    background-color: var(--blue-col);
	transition: background-color, 0.3s
}

.submit-button-style:active {
    transform: scale(0.97);
}

.submit-button-style:hover {
	background-color: color-mix(in srgb, var(--blue-col) 85%, transparent);
}

.submit-button-image {
    height: 90%;
}