.navigation-button-style {
	position: relative;
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
	padding: 10px;
    color: var(--black-col);
    font-family: var(--main-font);
    font-weight: var(--mid-bold);
    font-size: medium;
    cursor: pointer;
	border-radius: 10px;
    transition: transform 0.1s ease;
	background-color: var(--white-col);
	transition: background-color 0.3s;
}

.navigation-button-style.active {
	color: var(--blue-col);
	background-color: color-mix(in srgb, var(--blue-col) 10%, transparent);
}

.navigation-button-style:not(.active):hover {
    background-color: var(--gray3-col);
}

.navigation-button-notification-style {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 11px;
	right: 10px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	color: var(--white-col);
	background-color: var(--blue-col);
}	