.chat-layout-style {
	display: flex;
	flex-direction: row;
	gap: 20px;
	height: 100%;
}

.chat-sidebar-layout {
	flex: 1;
}

.chat-content-layout {
	display: flex;
	flex-direction: column;
	flex: 2;
	height: 100%;
}

.chat-content-messages {
	flex: 1;
	overflow-y: auto;
	
}

.chat-content-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.chat-message-style {
	background-color: red;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 10px;
}

.chat-message-style.left {
	justify-content: flex-start;
}

.chat-message-style.right {
	justify-content: flex-end;
}