.main-profile-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
}

.sub-profile-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.profile-avatar-container {
	width: 200px;
	height: 200px;
}

.aboutme-text-profile {
	font-weight: 300;
}

.profile-image-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	padding: 10;
	width: 30%;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	background-color: var(--pastel-col);
    border-color: var(--light_gray-col);
}

.profile-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;	
	padding: 10px;
	height: 100%;
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	background-color: var(--pastel-col);
    border-color: var(--light_gray-col);
}