.users-table-style {
    text-align: left;
    width: 100%;
    border-spacing: 0;
    border-style: solid;
    border-radius: 10px;
	border-color: var(--white-col);
    font-size: 14px;
	box-shadow: 3px 3px 5px var(--gray2-col)
}

.users-table-style th {
    padding: 16px;
	background-color: var(--white-col);
}

.users-table-avatar-container {
	width: 40px;
	height: 40px;
}

.users-table-style td {
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: var(--gray2-col);
	background-color: var(--white-col);
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    padding: 16px;
}

.users-table-options {
	display: flex;
	flex-direction: row;
	gap: 12px;
	font-size: 18px;
}

.users-table-tag-layout {
	display: flex;
	flex-direction: column;
	gap: 5px;
}