.group-project-widget-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.group-project-widget-title {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	gap: 18px;
}

.group-project-widget-title-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5px;
}

.group-widget-buttons-layout {
	display: flex;
	flex-direction: row;
	gap: 15px
}

.group-project-top {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.group-project-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--gray1-col);
	font-weight: var(--small-bold);
	gap: 10px;
}

.group-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	opacity: 0;
	max-height: 0;
	transition: max-height 0.3s;
	transition: opacity 0.3s;
}

.group-content.expanded {
	opacity: 1;
	max-height: 400;
}

.group-content-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.group-add-user-div {
	
}