.ter-widget-info-style {
	display: flex;
	flex-direction: row;
	gap: 20px;
	color: var(--gray1-col);
}

.ter-widget-info-content {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 10px;
}

.ter-widget-info-header {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.ter-widget-info-text {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	flex: 1;
}