.ter-list-page-layout {
	display: flex;
	flex-direction: row;
	gap: 20px;
	width: 100%;
}

.ter-list-group-layout {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.ter-list-project-layout {
	flex: 2;
	display: flex;
	flex-direction: column;
	gap: 20px;
}