.tag-widget-style {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: auto;
	padding: 5px;
	gap: 20px;
	border-radius: 10px;
	font-size: 12px;
}

.icon-widget-style {
	cursor: pointer;
}