.confirmation-dialog-layout-layout {
	width: 50%;
}

.confirmation-dialog-layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	color: var(--grey2-col);
}


.confirmation-text-layout {
	font-size: 13px;
	text-align: center;
	font-weight: var(--mid-bold);
}

.confirmation-dialog-layout #button-content {
	display: flex;
	flex-direction: row;
	height: 30px;
	justify-items: center;
	gap: 10px;
	width: 100%;
}

.confirmation-dialog-layout button {
	flex: 1;
}