.user-list-layout {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 10px;
	width: 100%;
	overflow-y: auto; 
}

.user-list-buttons {
	display: flex;
	flex-direction: row;
	height: 30px;
	gap: 20px;
}

.user-list-dialog-content #content {
	height: 600px;
}

.user-select-search {
	height: 30px;
}