body {
    margin: 0px;
    padding: 0px;
	overflow: hidden;
}

:root {
    --deep_blue-col: #26266e;
	--blue-col: #0c5deb;
    --cyan-col: #2596be;
    --black-col: #333333;
    --gray1-col: #636363;
	--gray2-col: #e8e8e8;
	--gray3-col: #f9f9f9;
    --white-col: #ffffff;
    --red-col: #ff3333;
    --green-col: #63ba63;
	--purple-col: #a000a3;
    --yellow-col: #ffcc00;
    --orange-col: #ff6600;
    --main-font: sans-serif;
    --big-bold: 800;
	--mid-bold: 500;
	--small-bold: 200;
}