body {
    margin: 0px;
    padding: 0px;
}

:root {
    --deep_blue-col: #26266e;
	--blue-col: #0c5deb;
    --cyan-col: #2596be;
    --dark_gray-col: #333333;
    --gray-col: #636363;
    --light_gray-col: #e8e8e8;
    --white-col: #ffffff;
	--pastel-col: #fafafa;
    --red-col: #ff3333;
    --green-col: #00cc00;
    --yellow-col: #ffcc00;
    --orange-col: #ff6600;
    --main-font: sans-serif;
    --big-bold: 600;
	--small-bold: 400;
}