.info-widget-layout {
	display: flex;
	flex-direction: row;
	gap: 15px;
	height: 100%;
}

.info-widget-text {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: var(--gray1-col);
}

.info-widget-main-container.active {
	background-color: var(--white-col);
}