.info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: var(--light_gray-col);
    color: var(--gray-col);
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    font-family: var(--main-font);
    letter-spacing: 0.6px;
}

.info-box-info {
    background-color: var(--light_gray-col);
    color: var(--gray-col);
}

.info-box-error {
    color: rgba(var(--red-col), 0.9);
    background-color: rgba(var(--red-col), 0.3);
    border-color: rgba(var(--red-col), 0.6);
}

.info-box-success {
    color: rgba(var(--green-col), 1);
    background-color: rgba(var(--green-col), 0.3);
    border-color: rgba(var(--green-col), 0.6);
}
