.info-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    background-color: var(--light_gray-col);
    color: var(--gray-col);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    font-size: 14px;
    font-family: var(--main-font);
    letter-spacing: 0.6px;
}