.permission-tag-style {
    --permission-color: var(--gray-col);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 7px;
    border-width: 2px;
    color: var(--permission-color);
    border-color: var(--permission-color);
    background-color: color-mix(in srgb, var(--permission-color) 40%, transparent);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 11px;
}   

.permission-tag-style.etu {
    --permission-color: var(--blue-col);
}

.permission-tag-style.prof {
    --permission-color: var(--blue-col);
    /* --permission-color: #bb218a; */
}   

.permission-tag-style.admin {
    --permission-color: var(--blue-col);
    /* --permission-color: #e11656; */
}

.permission-tag-style.extern {
    --permission-color: var(--blue-col);
    /* --permission-color: var(--orange-col) */
}