.progress-info {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 0.95rem;
}

.progress-label {
	color: var(--gray1-col);
	font-size: 14px;
}

.progress-bar-bg {
	position: relative;
    height: 8px;
    background: var(--beige-col);
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar-fill {
	position: absolute;
    height: 8px;
    background: var(--blue-col);
    border-radius: 4px;
}

.progress-subtext {
    font-size: 0.8rem;
    color: #718096;
    margin-top: 5px;
}