.project-widget-layout {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 15px;
	box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
	border-radius: 10px;
	background-color: var(--pastel-col);
    border-color: var(--gray2-col);
    padding: 15px;
	width: 100%;
}

.project-widget-title-style {
	font-size: 18px;
	font-weight: var(--big-bold);
}

.project-widget-description-style {
	font-size: 13px;
	font-family: var(--small-bold);
}

.project-widget-tache-layout {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.project-widget-edit {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.project-widget-tag-layout {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.project-widget-tag-style {
	display: flex;
	flex-direction: row;
	padding: 8px;
	font-size: 12px;
	background-color: var(--gray2-col);
	border-radius: 5px;
	gap: 2px;

}