.stat-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border-left: 6px solid;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    flex: 1;
    min-width: 200px;
}

.stat-icon {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-info {
    display: flex;
    flex-direction: column;
}

.stat-value{
    font-size: 24px;
    font-weight: 800;
    color: var(--dark_gray-col);
    font-family: var(--main-font);

}

.stat-label {
    font-size: 14px;
    color: var(--gray-col);
    font-family: var(--main-font);
    font-weight: 600;
}